<footer id="footer">
  <div class="footer-links">
    <%= link_to "Home", root_path, class: "white" %>
    <%= link_to "Contact us", contact_path, class: "white"  %>
    <%= link_to "Help", help_path, class: "white"  %>
    <p>&copy;SUBS-<%=Date.current.year%></p>
  </div>
</footer>
