<footer id="footer">
  <div class="footer-container">
    <div class="footer-links">
      <%= link_to "Home", root_path %> 
      <%= link_to "Contact us", contact_path %>
      <%= link_to "Help", help_path %> 
      <p>&copy;subs-2019</p>
    </div>
    <div class="footer-icons">
    </div>
  </div>
</footer>
