<% # Search bar %>
<%= form_tag href="/main", method: :get, class: "navbar-form", role: "search" do %>
  <li>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search..."%>
    <%= image_submit_tag("/assets/SearchIcon.png", class: "btn btn-default searchButton") %>
  </li>
<% end %>
