<%# Moves page content down when displaying nav bar %>
<% if user_signed_in? %>
  <br>
<% end %>

<h1>Help</h1>
<br>
<h2>FAQ<h2>




  <img src = "/assets/ContactImage.png" class="contactimage"></p>


<p> Click on the questions to reveal the answers </p>


<h3 id = "q2"><u>How do I buy an item?<i class="arrow down" ></i></u></h3>
<h4 id = "A2"> Go to the listings page</h4>

<h3 id = "q3"><u>How do I cancel an item?<i class="arrow down" ></i></u></h3>
<h4 id = "A3">Press the 'x' icon next to buy</h4>

<h3 id = "q4"><u>How do I cancel my account?<i class="arrow down" ></i></u></h3>
<h4 id = "A4">You are able to cancel your account on your profile</h4>

<h3 id = "q5"><u>How do I add a new product to my listings?<i class="arrow down"></i></u></h3>
<h4 id = "A5">You are able to add a product on the product page</h4>
