<h1>Help</h1>
<br>
<h2>FAQ<h2>
</br>


<p> Hover over the questions for the answers to appear
  <img src = "/assets/ImagefromiOS.png" class="contactimage"></p>

</br></br>
<div class="dropdown">
  <span>How do I buy an item?</span>
  <div class="dropdown-content">
  <p>Go to the listings page</p>
  </div>
</div>
<br></br>

<div class="dropdown">
  <span>How do I cancel an item?</span>
  <div class="dropdown-content">
  <p>Press the 'x' icon next to buy </p>
  </div>
</div>
<br></br>
<p>Do contact us if you still need help</p>
