<h2>Help</h2>
<br>
<h3>FAQ<h3>

<img src = "/assets/ContactImage.png" class="contactimage"></p>


<p> Click on the questions to reveal the answers </p>

<br>

<div class="question_box">
  <u class = "q2"> How do I find an item?
    <i class="arrow down" ></i>
  </u>
  <h4 class = "A2"> 1. Log in </h4>
  <h4 class = "A2"> 2. Go to the 'View listings' page or type keywords into the search bar</h4>
</div>

<br>

<div class="question_box">
  <u class = "q3"> How do I create a new product?
    <i class="arrow down" ></i>
  </u>
  <h4 class = "A3"> 1. Log in </h4>
  <h4 class = "A3"> 2. Hover over your name in the top right of the navigation bar</h4>
  <h4 class = "A3"> 3. Click on 'Create listing' from the drop down</h4>
  <h4 class = "A3"> 4. Enter a name, price, description, optionally select one or more categories, upload an image</h4>
  <h4 class = "A3"> 5. Click 'save'</h4>
</div>

<br>

<div class="question_box">
  <u class = "q4"> How do I add a product to my wish list?
    <i class="arrow down" ></i>
  </u>
  <h4 class = "A4"> 1. Click on the item </h4>
  <h4 class = "A4"> 2. Click on 'Add to wish list' underneath the item's image</h4>
</div>

<br>

<div class="question_box">
  <u class = "q5"> How do I view my wish list?
    <i class="arrow down" ></i>
  </u>
  <h4 class = "A5"> 1. Log in </h4>
  <h4 class = "A5"> 2. Hover over your name in the top right of the navigation bar</h4>
  <h4 class = "A5"> 3. Click on 'Wish List' from the drop down</h4>
</div>

<br>

<div class="question_box">
  <u class = "q6"> How do I purchase an item?
    <i class="arrow down" ></i>
  </u>
  <h4 class = "A6">1. Click on the item</h4>
  <h4 class = "A6">2. On the right of the page, the student's email is shown under their name</h4>
  <h4 class = "A6">3. Email the seller to confirm price, ask questions and arrange a meet up</h4>
</div>

<br>

<div class="question_box">
  <u class = "q7"> How do I delete my account?
    <i class="arrow down"></i>
  </u>
  <h4 class = "A7"> 1. Hover over your name in the top right of the navigation bar</h4>
  <h4 class = "A7"> 2. Click on 'Edit Account' from the drop down</h4>
  <h4 class = "A7"> 3. Scroll to the bottom of the page</h4>
  <h4 class = "A7"> 3. Click on 'Delete my account'</h4>
</div>

<br>
