<h2>SUBS Privacy Policy</h2>
<h3>SUBS collects the following data:</h3>
<p>Personal Identification Information (Name, Email Address).</p>
<h3>In the future, we may collect:<h3>
<p>Your banking details when processing an order.</p>
<h3>How do we collect you data?</h3>
<p>You directly provide SUBS with most of the data we collect. We collect and process data when you:
  <li>Register Online.</li>
  <li>Contact Us.</li>
  <li>Use or view our website via your browser’s cookies.</li>
</p>
<h3>How will we use that data?</h3>
<p>SUBS collects you data so that we can;
  <li>Process and manage your account</li>
</p>
<p>In the future, we may collect your data so that we can:
  <li>Process your orders.</li>
  <li>Email you updates about relevant products on your wish list.</li>
  <li>Email you when your products are sold or someone wants to send you a message.</li>
</p>
<h3>How do we secure your data?</h3>
<p>SUBS stores your data on Heroku’s Secure Data servers. Customer data is stored in a separate access-controlled database. All connections are secured by SSL and the database is encrypted using AES 256 bit encryption.</p>
<p>We do not sell your data, and we will not send you marketing information from other companies.</p>
<h3>What are your data protection rights?</h3>
<p>SUBS would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
  <li><b>The right to access</b> – You have the right to request SUBS for copies of your personal data. We may charge you a small fee for this service.</li>
  <li><b>The right to rectification</b> – You have the right to request that SUBS correct any information you believe is inaccurate. You also have the right to request SUBS to complete the information you believe is incomplete.</li>
  <li><b>The right to erasure</b> – You have the right to request that SUBS erase your personal data, under certain conditions.</li>
  <li><b>The right to restrict processing</b> – You have the right to request that SUBS restrict the processing of your personal data, under certain conditions.</li>
  <li><b>The right to object to processing</b> – You have the right to object to SUBS’s processing of your personal data, under certain conditions.</li>
  <li><b>The right to data portability</b> – You have the right to request that SUBS transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email:</p>
<p><b>support@subs.co.uk</b></p>
<h3>Cookies</h3>
<p>Cookies are text files placed on your computer to collect standard Internetlog information and visitor behaviour information. When you visit our websites, we may collect information from you automatically through cookies or similar technology</p>
<p>For further information, visit <b>allaboutcookies.org.</b></p>
<h3>How do we use cookies?</h3>
<p>SUBS uses cookies in a range of ways to improve your experience on our website, including:
  <li>Keeping you signed in</li>
  <li>Understanding how you use our website</li>
</p>
<h3>What types of cookies do we use?</h3>
<p>There are a number of different types of cookies, however, our website uses:
  <li><b>Functionality</b> – SUBS uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.</li>
</p>
<h3>How to manage cookies</h3>
<p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>
<h3>Privacy policies of other websites</h3>
<p>The SUBS website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>
<h3>Changes to our privacy policy</h3>
<p>SUBS keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 26th May 2020.</p>

<br>
