// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 $lightGrey: #e5e5e5;
  $darkGrey: #525252;
/*********users selling page********/

.usersellingtable{
  width: 80%;
  margin: 0 auto;
  padding: 40px 0px;
  .sellingrow{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid $lightGrey;
    .image-container-mylistings {
      height: 150px;
      width: 150px;
      img {
        border: 1px solid $darkGrey;
      }
    }
    .about{
      display: inline-block;
      margin-left: 30px;
      width: 60%;
      p:first-child{
        font-size: 16px;
      }
    }
    .options{
      margin-left: auto;
      margin-right: 40px;
      .icon{
        border: none;
      }
    }
  }
}

.individualProduct{
  margin: 40px 130px;
  display: flex;
  .aboutProduct{
    padding: 15px;
    height: 100%;
    flex-grow: 1;
    span{
      font-size: 20px;
    }
    .currency{
      float: right;
    }
    .carousel-container{
      height: 400px;
      position: relative;
      overflow: hidden;
      margin: 10px 0px;
      .slider{
        border: 1px solid $lightGrey;
        height: 100%;
        display: flex;
        width: 400%;
        transition: transform 0.5s;
        section{
          flex-basis: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            object-fit: cover;
            width: 100%;
            border: 1px solid $lightGrey;
          }
        }
      }
      .controls .arrow{
        position: absolute;
        top: 50%;
        cursor: pointer;
        img{
          height: 40px;
        }
      }
      .arrow.left{
        left: 10px;
      }
      .arrow.right{
        right: 10px;
      }
    }
    .posted{
      font-size: 15px;
      margin-top: 20px;
      display: inline;
      margin-right: 50px;
    }
    h4{
      margin-top: 40px;
    }
    .description{
      border-bottom: 1px solid $lightGrey;
      padding-bottom: 10px;
    }
    .cats{
      display: inline;
    }
  }
  .sellerdetails-share{
    flex-basis: 400px;
    padding: 15px;
    .details{
      display: flex;
      align-items: center;
      height: 60px;
      background-color: #015990;
      padding: 10px;
      p{
        font-size: 20px;
        color: white;
        a{
          font-size: 20px;
          color: white;
          margin-left: 10px;
        }
      }
    }
    .contactdetails{
      height: 125px;
      border: 1px solid $lightGrey;
      padding: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      p{
        font-size: 18px;
      }
    }
    #favs{
      width: 100%;
      .favtweets{
        text-align: center;
      }
      .twitterButton{
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
      }
      .tweet{
        margin: 10px;
        .from{
          font-weight: bold;
        }
      }
    }
  }
}

//twitter box styling
// #favs{
//   display: inline-block;
// }
// .twitterButton{
//   text-align: center;
//   padding-right: 10px;
//   padding-left: 10px;
// }
// #tweerProfile{
//   float: left;
//   padding: 5px;
// }
// .tweet{
//   margin: 10px;
// }
// .message{
//   width: 400px;
//   float: right;
// }
// .from{
//   font-weight: bold;
// }
// .contactimage {
//   float: right;
//   height: 300px;
// }
// i {
//   border: solid black;
//   border-width: 0 6px 6px 0;
//   display: inline-block;
//   padding: 6px;
// }
// .down {
//   transform: rotate(45deg);
//   -webkit-transform: rotate(45deg);
// }
// p {
//   font-size: 15px;
// }
