<h2>My Listings</h2>
<div>
  <table>
    <thead>
      <tr>
        <td>image</td>
        <td>desc</td>
        <td>price</td>
      </tr>
    </thead>
    <tbody>
      <% @userListings.each do |userListing| %>
      <tr>
        <td><%= image_tag(userListing.image, class: "productImage") %></td>
        <td><%= userListing.name %></td>
        <td><%= userListing.price %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
